.plain-text{
    white-space: pre-wrap;
    text-align: justify;
}

span.highlight{
    background-color: DarkTurquoise ;
    color: black;
}

button.missing{
    background-color: grey;
}

body {
    overflow-x:hidden;
}

.inline {
    display: inline-block;
}

#jump {
    margin: 0 20px 0 20px;
}

#ipt_index {
    width: 60px;
    margin: 0 10px 0 20px;
}

.flex-contain {
    display: flex;
    align-items: center;
    justify-content: center;
}


#clause_sel{
    max-width: 250px;
    max-height: 90vh;
    overflow-x:scroll;
    overflow-y: scroll;
}

#info{
    font-size: 1.2rem
}

#display {
    overflow-y: scroll;
    max-height:97vh;
}

#contract{
    border: 2px solid grey;
    padding: 5px 5px 5px 5px;
    
}

label {
    font-weight: 600;
}

#right-pannel{
    max-width: 260px;
}

.span-hl-0{
    
}

.span-hl-1{
    border: 2px solid #F1C40F;
}

.span-hl-2{
    border: 2px solid #F1C40F;
}

.span-hl-1:hover {
    border: 2px solid hotpink;
    cursor: pointer;
    background-color: beige  ;
}

.span-hl-2:hover {
    border: 2px solid hotpink;
    cursor: pointer;
    background-color: beige  ;
}

.pred-correct {
    background-color: #ABEBC6;
}

.pred-wrong {
    background-color: #F1948A;
}

.pred-correct,.pred-wrong:hover{
    cursor: pointer;
}

/* span pop window */

#span-info.disabled {
    display: none;
}

#span-info {
    position: fixed;
    border: 2px solid grey;
    opacity: 0.9;
    background-color: #FCF3CF;
    padding: 5px;
    font-size: large;
}

#span-info>div>div:nth-child(1) {
    font-weight: 700;
    border-bottom: 1px solid black;
}

#span-info>div>div:nth-child(2) {
    padding-left: 1rem;
}

#left-panel{
    margin-left:10px;
    max-width: 200px;
}

#history {
    max-height: 350px;
    overflow-y: scroll;
    overflow-x:scroll;
}

#history a{
    display: flex;
}

#history span:nth-child(2){
    white-space: nowrap;
    margin-left: 3px;
}



#contract span{
    margin-left: 2px;
    margin-right: 2px
}

.legend-box {
    width: 2rem;
    height: 1rem;
}